extends layout

block styles
	link(rel='stylesheet', href='/stylesheets/home-page.css')

block content
	span#available-songs.hidden= availableSongs
	div.text-container.half-width.center#search-bar
		label.text-label(for='input-search') Search:
		input.text-box#input-search
	|Sort by:
	span.button.selected#artist-button Artist
	span.button#title-button Title
	span.button#random-button Random
	div#song-list

block scripts
	script(src='/javascripts/search.js')
	script(src='/javascripts/home-page.js')
