doctype html
html(lang='en')
	head
		meta(name='viewport' content='initial-scale=1')
		meta(name='Description' content='A free and open source platform for sharing songs and chords')
		title Guitar Agami
		link(rel='stylesheet', href='/stylesheets/global.css')
		block styles
	body#content
		include header
		div.main(role='main')
			block content
	img(src='/images/agami.png' alt='Agami Logo')#logo
	script(src='/javascripts/http-utils.js')
	script(src='/javascripts/escape.js')
	block scripts
