extends layout

block styles
	link(rel='stylesheet', href='/stylesheets/new-page.css')

block content
	span#song-content.hidden= songContent
	div.text-container.full-width.center
		label.text-label(for='input-title') Title:
		input.text-box#input-title
	div.text-container.full-width.center
		label.text-label(for='input-artist') Artist:
		input.text-box#input-artist
	div.dropdown.half-width.center#format-dropdown
		div.drop-label Current format: #[span.current-format Square Bracketed]
		div.drop-content
			span.drop-item.button#square-bracketed-format Square Bracketed
			span.drop-item.button#space-padded-format Space Padded
	pre.sheet.formatting-info#square-bracketed-info
		|To format the song in square bracket mode,
		|put chords in square brackets where you
		|want them to appear
		|
		|Here is an example:
		|[D7]These are [G]the lyrics
		|
		|In this example, the chord 'D7' would appear
		|above the word 'These', and the chord 'G'
		|would appear above the word 'the'
	pre.sheet.hidden.formatting-info#space-padded-info
		|To format the song in space padded mode,
		|put chords in a seperate line that ends
		|with an dollar sign
		|
		|Here is an example:
		|D7        G$
		|These are the lyrics
		|
		|In this example, the chord 'D7' would appear
		|above the word 'These', and the chord 'G'
		|would appear above the word 'the'
	div.text-container.full-width.center
		label.text-label(for='input-content') Content:
		textarea.text-box(rows='16')#input-content
	include song-sheet
	span.hidden#captcha-id= captchaId
	div#captcha!= captchaData
	div.text-container.center#captcha-box
		label.text-label(for='input-captcha') Human test:
		input.text-box#input-captcha
	div.hidden#captcha-fail Unsuccessful human test. Please try again.
	span.button(tabindex='0')#submit Submit!

block scripts
	script(src='/javascripts/format.js')
	script(src='/javascripts/new-page.js')
	script(src='/javascripts/song-utils.js')
