extends layout

block styles
	link(rel='stylesheet', href='/stylesheets/song-page.css')

block content
	include song-sheet
	a.button#edit-song-button(href='/new/'+songId) Edit
	span#song-content.hidden= songContent

block scripts
	script(src='/javascripts/format.js')
	script(src='/javascripts/song-page.js')
	script(src='/javascripts/song-utils.js')
