span#controls
	div.dropdown.hidden#version-picker
		div.drop-label Version: #{songId}
		div.drop-content#version-picker-content
	span.scale#transpose
		span.button(tabindex='0')#transpose-down -
		span.text Transpose
		span.button(tabindex='0')#transpose-up +
	span.scale#font-size
		span.button(tabindex='0')#font-size-down -
		span.text Font size
		span.button(tabindex='0')#font-size-up +
pre.sheet#song Formatting song. Please wait.
