@import "mixins"
@import "utility"

//
// Global
//

body
	position: absolute
	left: 0
	right: 0
	top: 0
	bottom: 30px
	margin: 0
	padding: 0
	color: $c-grey-darkest
	background-color: $c-grey-lighter
	text-align: center
	font-size: 14px

#logo
	padding: 60px 0
	height: 210px
	+small-screen
		height: 140px

#header
	margin-bottom: 60px
	background-color: $c-blue-dark-pale
	overflow: hidden
	text-align: right
	box-shadow: 0 5px 20px -10px $c-black
	+big-screen
		display: flex

	#head-title
		display: block
		padding: 15px
		font-size: 28px
		font-weight: 600
		color: $c-white
		text-decoration: none
		text-align: center

	.design
		background-color: $c-rust-dark-pale

	#design-curve
		flex-grow: 2
		border-radius: 100% 0 0 0
		margin-bottom: -70px
		+small-screen
			padding: 35px

.button
	display: inline-block
	margin: 15px
	padding: 10px
	color: $c-grey-darkest
	background-color: $c-grey-lightest
	text-align: center
	text-decoration: none
	font-size: 14px
	cursor: pointer
	box-shadow: 0 3px 12px -6px $c-black

	-moz-user-select: -moz-none
	-khtml-user-select: none
	-webkit-user-select: none
	-ms-user-select: none
	user-select: none

	&:hover
		color: $c-black
		background-color: $c-grey-lighter

	&:active
		color: $c-white
		background-color: $c-grey-light
		box-shadow: none

	&.selected
		color: $c-white
		background-color: $c-grey-light
		cursor: default
		box-shadow: none

.sheet
	text-align: left
	margin: 30px auto
	padding: 20px
	max-width: max-content
	background-color: $c-white
	box-shadow: 0 10px 40px -20px $c-black
	overflow-x: auto
	overflow-y: hidden

	+big-screen
		min-width: 400px

.dropdown
	position: relative
	margin: 15px
	color: $c-grey-darkest
	background-color: $c-grey-lightest
	overflow: visible
	text-align: center
	font-size: 14px
	box-shadow: 0 3px 12px -6px $c-black

	-moz-user-select: -moz-none
	-khtml-user-select: none
	-webkit-user-select: none
	-ms-user-select: none
	user-select: none

	.drop-label
		padding: 10px

	.drop-content
		position: absolute
		z-index: 1
		display: none
		width: 100%
		box-shadow: 0 5px 20px -10px $c-black

	.drop-item
		display: block
		margin: 0
		box-shadow: none

	&:hover
		color: $c-black
		background-color: $c-grey-lighter

		.drop-content
			display: block
