@import "mixins"
@import "text-inputs"

//
// Home page
//

#search-bar
	+small-screen
		width: 80%

#song-list
	width: 0
	min-width: 80%
	padding: 0
	margin: 30px auto
	text-align: left

	.button
		display: block
		padding: 0
		margin: 15px 0
		width: 100%
		border-left: solid 5px $c-rust-dark-pale

	.item
		text-align: left
		display: inline-block
		padding: 10px 2%
		width: 46%
		text-decoration: none
		font-weight: 600
		pointer-events: none
		word-wrap: break-word
