@import "mixins"
@import "song-sheet"
@import "text-inputs"

//
// New page
//

#format-dropdown
	margin: 30px auto

#captcha svg
	max-width: 80%

#captcha-box
	width: 200px

#captcha-fail
	background-color: $c-red
	padding: 15px
	margin: 15px 0
