@import "mixins"

//
// Song sheet
//

#controls
	display: flex
	flex-wrap: wrap
	justify-content: space-evenly
	margin: auto
	width: 100vw
	max-width: 700px

.scale
	display: inline-block
	margin: 15px
	color: $c-grey-darkest
	background-color: $c-grey-lightest
	text-align: center
	box-shadow: 0 5px 20px -10px $c-black
	white-space: nowrap

	.text
		margin: 0 10px
		width: 140px

	.button
		width: 30px
		margin: 0
		font-size: 14px
		border: none

.chord
	font-weight: bold
	color: $c-blue-dark-pale
