@import "mixins"

//
// text input boxes
//

.text-container
	margin-top: 30px
	text-align: left

.text-label
	position: absolute
	margin: 10px 0
	padding: 10px 0
	font-size: 12px
	color: $c-grey-darkest

.text-box
	margin: 10px -20px
	padding: 35px 20px 20px 20px
	width: 100% !important
	color: $c-grey-darkest
	background-color: $c-white
	border: none
	font-size: 14px
	box-shadow: 0 10px 40px -20px $c-black
