//
// Utility calsses
//

.hidden
	display: none

.center
	margin: auto

.max-width
	width: 100%

.full-width
	width: 80%

.half-width
	width: 40%

.third-width
	width: 26.6%

.quarter-width
	width: 20%
